html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#taustakuva {
    position: absolute;
    top: -2%;
    left: 0;
    height: auto;
    max-width: 100%;
    display: block;
    z-index: -1;
}

.tausta {
    max-width: 50em;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 2000px;
}

.header {
    height: 100vh;
}

.huom {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
}